<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Niss", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header class="flex flex-row justify-between mx-8 mt-4 mb-10">
      <span class="text-lg">Niss</span>

      <nav>
        <ul class="flex flex-row justify-end text-lg">
          <li class="mx-1">
            <%= link "Home", to: Routes.page_path(@conn, :index), class: "link-novisited" %>
          </li>
          <li class="mx-1">
            <%= link "Auth", to: Routes.auth_path(@conn, :index), class: "link-novisited" %>
          </li>
        </ul>
      </nav>
    </header>
    <%= @inner_content %>
  </body>
</html>
