<div>
    <table>
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <%= for system <- @systems do %>
        <tr>
            
        </tr>
        <% end %>
    </tbody>
    </table>
</div>
